.header{max-width: 1150px;margin: 0 auto;}
.userxx{color:#3CF;}
.admin-icon-yellow {color: #ffbe40;}
.am-badge a{ color:#FFF}
.admin-content-list {border: 1px solid #e9ecf1;margin-top: 0;}
.admin-content-list li:first-child {border-left: none;}
.notic{display:none;}
@media (max-width:640px) {
.diy_input input,.diy_input textarea,.diy_input select{width:100%}
.diy_input tr td{width:auto}
.notic{margin-left: 10px;font-weight: bold;display:block;}
.am-table-radius>tbody>tr>td:first-child{white-space: nowrap;}
}